/* Seeting the default view for all the elements */
*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
/* Importing the Fonts  */

@font-face {
font-family: Varela;
src: url("../assets/fonts/Varela-Regular.ttf");
}

@font-face {
font-family: Montserrat-SemiBold;
src: url("../assets/fonts/Montserrat-SemiBold.ttf");
}
/* Styling the nav */
nav{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 18vh;
  background-color:rgba(91, 61, 238, 1);
  z-index: 2
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo{
  color:rgb(222, 229, 241);
  font-size: clamp(20px,2vw,35px);
  font-family: Montserrat-SemiBold;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
  margin-top: 15px;

}
.input{
  width: 80%;
  margin-left: 10%
}
.input input{
  font-size: clamp(15px,1.4vw,25px);
  font-family: Varela;
}
.nav-links a{
  font-family: Varela;
  color: whitesmoke;
  font-size: clamp(18px,1.5vw,30px)
}
.nav-links li{
  list-style: none;
}
/* The burger styling */
.burger{

  padding: 3px;
  border-radius: 3px;
display: none;
}
.burger div{
  height: 4px;
  width: 30px;
  background-color:rgb(225, 238, 238);
  margin: 5px;
  border-radius: 2px;

}
/* Working on the screens less than that of 770 px */
@media screen and (max-width:1100px)  {
.nav-links{
width: 50%
}
}
@media screen and (max-width:770px)  {
  nav{
    height: 13vh
  }
  body{
    overflow-x: hidden;
  }
  .burger{
display: block;
position: fixed;
left: 10px;
top: 13px

  }
 .nav-links{
 position: fixed;
 left: 0px;
 top: 10vh;
 height: 90vh;
 flex-direction: column;
 background-color:rgba(91, 61, 238, 1);
 width: 50%;
 font-size: clamp(10px,3vw,25px);
 transform: translateX(-100%);
 opacity: 0;
 margin-top: 0px;

 }
.nav-links li{
    opacity: 0;
}
.input{
  margin-left: 15%
}
 }
 /* responsive active nav */
 .nav-active{
   position: fixed;

   opacity: 1;
   transform: translateX(0%);

 }
 /* Animation for all the nav link li */
 @keyframes navlianimate {
   from{
     opacity: 0;
     transform: translateX(-50px)
       }
   to{
     opacity: 1;
     transform: translateX(0px);
   }
 }
.cartop{
  margin-top:17vh;
  width: 100%;
  height: 90vh;
  background-color:white;
  align-items: center;
  justify-content: space-around;

}
.cart-img{
  width: 100%;
  height: 90vh;
}
.cartop-txt {
  color: black;
  font-family:Varela;


 display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.cartop-txt h2{
  color:rgb(58, 55, 92);
  font-size: clamp(20px,2vw,40px);
  font-family: Montserrat-SemiBold;

}
.cartarea{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height:60vh
}

.carts{
  align-items: center;
  justify-content: space-around;
  margin-left: 5px
}
.itm{
  border: 1px solid rgb(36, 36, 50);
  height:40vh;
 border-radius: 5px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 background-color: white;
 cursor: pointer;
 text-align: center;
 margin: 2px
}
.itm-img{
  width: 40%;
  height: 70%
}
.itm-txt{
  color: rgb(32, 35, 43);
  font-family: Varela;
 font-size: clamp(15px,1.3vw,30px)
}

@media screen and (max-width:770px)  {
  .cartop{
    margin-top: 13vh;
        height: 90vh;
  }
  .cart-img{
    width: 100%;
    height: 70vh;
  }
.itm-img{
    width: 80%;
    height: 70%;
  }
  .itm{
  width:45vw;
  height: 50vh;
  margin: 5px
  }
  .cartarea{
    margin-top: 0%;
    height: 120vh
  }
}
