.navbar{
    background-color: rgb(116, 79, 83);

 }
 .navbar-brand{
     font-family: Montserrat-medium;
     font-weight: bolder;
     font-size: 30px;
     margin-left: 20px;

 }
 .logo{
height: 50px;
width: 50px;
border-radius: 50%;
 }
 .navbar-nav{
     font-family: Montserrat-regular;
 }
